/*<div class="loading-icon-holder"><div class="loading-icon">
<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div></div>

Above is the code to call the loading animation into the site*/

@keyframes loading-icon {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.loading-icon div {
  left: 94px;
  top: 17px;
  position: absolute;
  animation: loading-icon linear 0.8695652173913042s infinite;
  background: #fe718d;
  width: 12px;
  height: 34px;
  border-radius: 6px / 9.18px;
  transform-origin: 6px 83px;
}.loading-icon div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7971014492753623s;
  background: #fe718d;
}.loading-icon div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.7246376811594203s;
  background: #fe718d;
}.loading-icon div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.6521739130434783s;
  background: #fe718d;
}.loading-icon div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.5797101449275363s;
  background: #fe718d;
}.loading-icon div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5072463768115941s;
  background: #fe718d;
}.loading-icon div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.43478260869565216s;
  background: #fe718d;
}.loading-icon div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.36231884057971014s;
  background: #fe718d;
}.loading-icon div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.2898550724637681s;
  background: #fe718d;
}.loading-icon div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.21739130434782608s;
  background: #fe718d;
}.loading-icon div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.14492753623188406s;
  background: #fe718d;
}.loading-icon div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.07246376811594203s;
  background: #fe718d;
}.loading-icon div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loading-icon-holder {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
  align-self: center;
}
.loading-icon {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading-icon div { box-sizing: content-box; }

