.n-floating-window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .n-floating-window-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .n-floating-window {
    position: relative;
    width: 30%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 1.5%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

  
  .n-floating-window-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-items: center;
    width: 40%;
    margin-bottom: 20px;
  }

  .floating-window-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .n-contain-follow {
    overflow-y: scroll;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding-right: 10px;
  }

  .n-button-holder{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .n-user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  .n-user-item-l{
    display: flex;
    flex-direction: row;
  }
  .n-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
  }
  
  .n-user-name {
    margin-right: 10px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  
  .n-user-button {
    position: relative;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
    background-color: rgba(60, 60, 67, 0.);
  }
  .p-user-button:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
    cursor:pointer;
  }

  .n-user-button h4{
    flex: none;
order: 0;
flex-grow: 1;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 22px;
/* identical to box height, or 129% */

text-align: center;
letter-spacing: -0.408px;

/* Label Color/Light/Secondary */

color: rgba(60, 60, 67, 0.6);
margin: 0;
  }
  
  .follow-contain{
    overflow-y: scroll;
    height: fit-content;
    max-height: 50vh;
    padding-right: 10%;
  }

  
  .floating-window-add {
    top: 5%;
    position: relative;
    width: 30%;
    max-width: 400px;
    
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 40px;
  }